body{
    background-image: url("login_forma.jpg");
    background-size: cover;
}
.container {
    /*background-image: url("login_forma.jpg");*/
    
}
.text{
    color:rgb(109, 127, 228);
    font-size: 50px;
    padding-top:10px;
    padding-bottom:5px;
    text-align: center;
}
.form-group {
    margin-top: 45px;
    padding:100px;
    background-color: white;
    opacity:.8;
}
#label {
    color:black;
}
#exampleInputEmail1 {
    opacity: .9;
}

#button1{
    margin-top:20px;
}